<% @project.technologies.build %>
<%= form_for(@project) do |project_form| %>
    <% if @project.errors.any? %>
        <div class="alert-message block-message error">
          <p><strong>Oh snap! You got <%= pluralize(@project.errors.count, "error") %>!</strong> Change this and that
            and <a href="#">try again</a>.</p>
          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
      <div class="clearfix">
        <%= project_form.label :title %>
        <div class="input">
          <%= project_form.text_field :title, :class => "xlarge" %>
        </div>
      </div>
      <div class="clearfix">
        <%= project_form.label :customer %>
        <div class="input">
          <%= project_form.text_field :customer, :class => "xlarge" %>
        </div>
      </div>
      <div class="clearfix">
        <%= project_form.label :role %>
        <div class="input">
          <%= project_form.text_field :role, :class => "xlarge" %>
        </div>
      </div>
      <div class="clearfix">
        <%= project_form.label :description %>
        <div class="input">
          <%= project_form.text_area :description, :rows => 8, :class => "xxlarge" %>
        </div>
      </div>
      <%= render :partial => "technologies/fields", :locals => {:project_form => project_form} %>
    </fieldset>
    <div class="actions">
      <%= project_form.submit :class => "btn primary" %>
      <%= link_to 'Back', projects_path, :class => "btn" %>
    </div>
<% end %>
