<%= simple_form_for @project, :html => {:class => "form-horizontal"} do |f| %>
    <% if @project.errors.any? %>
        <div class="alert alert-block alert-error">
          <p><strong>Oh snap! You got <%= pluralize(@project.errors.count, "error") %>!</strong> Change this and that
            and <a href="#">try again</a>.</p>
        </div>
    <% end %>

    <%= f.input :start_date, as: :date,
                start_year: Date.today.year - 10, discard_day: true, order: [:month, :year], input_html: {class: "input-small"} %>
    <%= f.input :end_date, :as => :date,
                start_year: Date.today.year - 10, discard_day: true, order: [:month, :year], input_html: {class: "input-small"} %>

    <%= f.input :title, :input_html => {:class => "input-xlarge"} %>
    <%= f.input :customer, :input_html => {:class => "input-xlarge"} %>
    <%= f.input :role, :input_html => {:class => "input-xlarge"} %>
    <%= f.input :description, :input_html => {:class => "input-xxlarge", :rows => 8} %>

    <%= f.association :technologies, include_blank: false, :input_html => {:class => "input-xlarge", :data => {:placeholder => "Add some technologies"}} %>

    <%= f.input :highlight, :input_html => {:class => 'input-xlarge'} %>

    <div class="button-row">
      <%= f.button :submit, :class => 'btn' %>
      <%= submit_tag 'Cancel', :type => :reset, :class => "btn" %>
    </div>
<% end %>
