<%= simple_form_for(@project, :html => {:class => "form-horizontal"}) do |f| %>
    <% if @project.errors.any? %>
        <div class="alert alert-block alert-error">
          <p><strong>Oh snap! You got <%= pluralize(@project.errors.count, "error") %>!</strong> Change this and that
            and <a href="#">try again</a>.</p>
        </div>
    <% end %>

    <%= f.input :title, :input_html => {:class => "input-xlarge"} %>
    <%= f.input :customer, :input_html => {:class => "input-xlarge"} %>
    <%= f.input :role, :input_html => {:class => "input-xlarge"} %>
    <%= f.input :description, :input_html => {:class => "input-xxlarge", :rows => 8} %>

    <%= f.association :technologies, :input_html => {:class => "input-xxlarge", :data => {:placeholder => "Add some technologies"} } %>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= submit_tag 'Cancel', :type => :reset, :class => "btn" %>
    </div>
<% end %>
