<div class="page-header">
  <h2>List Projects
    <small>List all of your projects</small>
  </h2>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Title</th>
    <th>Role</th>
    <th>Customer</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.role %></td>
        <td><%= project.customer %></td>
        <td><%= project.description %></td>
        <td>
          <%= icon_link_to "icon-edit", edit_project_path(project) %>
          <%= icon_link_to "icon-remove", project, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

