<h2>Listing projects</h2>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Title</th>
    <th>Role</th>
    <th>Customer</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.role %></td>
        <td><%= project.customer %></td>
        <td><%= project.description %></td>
        <td>
          <%= link_to edit_project_path(project) do %>
              <i class="icon-edit"></i>
          <% end %>
          <%= link_to(project, :confirm => 'Are you sure?', :method => :delete) do %>
              <i class="icon-remove"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

