<div class="page-header">
  <h2>Technologies
    <small>List and add technologies to your projects</small>
  </h2>
</div>

<%= simple_form_for(@technology, :html => {:class => "well form-search", :data => {:remote => "true"}}) do |f| %>
    <div id="notice"></div>
    <%= f.input :name, :label => false %>
    <%= f.button :submit, :class => 'btn' %>
<% end %>
<ul id="technologies">
  <% @technologies.each do |technology| %>
      <li><%= technology.name %><%= icon_link_to "icon-remove", technology, :confirm => 'Are you sure?', :method => :delete, :class => "hidden", :data => {:show => "hover"} %></li>
  <% end %>
</ul>