<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">CVgen</a>
      <ul class="nav">
        <% if signed_in? %>
            <li><%= link_to 'Projects', projects_path %></li>
            <li><%= link_to 'Technologies', technologies_path %></li>
        <% end %>
      </ul>
      <ul class="nav pull-right">
        <% if signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Account
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to 'Logout', logout_path, method: "delete" %></li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to 'Sign in', login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>