<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<div class="container">
  <div class="row">
    <div class="span6 offset3">
      <div class="page-header">
        <h2><%= yield(:title) %>
          <small><%= yield(:subtitle) %></small>
        </h2>
      </div>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
